<div class="profile">
  <h1 class="profile-title">Cambiar Contraseña</h1>
  <div class="separator"></div>
  <form [formGroup]="form">
    <div class="profile-form-control">
      <div class="profile-input">
        <mat-label class="profile-label">Nueva Contraseña</mat-label>
        <mat-form-field appearance="outline">
          <input type="text" formControlName="newPassword" matInput>
          @if (form.get('newPassword')?.errors) {
            <mat-error>Contraseña no valida</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="profile-input">
        <mat-label class="profile-label">Confirmar Nueva Contraseña</mat-label>
        <mat-form-field appearance="outline">
          <input type="text" formControlName="confirmPassword" matInput>
          @if (form.get('confirmPassword')?.errors) {
            <mat-error>Contraseña no valida</mat-error>
          }
        </mat-form-field>
      </div>
    </div>
    <div class="profile-form-control">
      <button mat-flat-button>Aceptar</button>
    </div>
  </form>
</div>
