:host {
  display: block;
}
 .auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;

  &-pages {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e2d3b;
  }
 }
