<div class="profile">
  <h1 class="profile-title">Favoritos</h1>
  <div class="separator"></div>
  <div class="profile-cards">
    <div class="profile-card card">
      <div class="profile-icon">
        <mat-icon>delete_outline</mat-icon>
        <mat-icon>ios_share</mat-icon>
      </div>
      <img src="assets/images/essentials-creatina.jpeg" alt="creatina">
      <span>Creapure Creatina - Essentials</span>
      <button class="profile-btn" mat-flat-button>Añadir al carrito</button>
    </div>
    <div class="profile-card card">
      <div class="profile-icon">
        <mat-icon>delete_outline</mat-icon>
        <mat-icon>ios_share</mat-icon>
      </div>
      <img src="assets/images/essentials-creatina.jpeg" alt="creatina">
      <span>Creapure Creatina - Essentials</span>
      <button class="profile-btn" mat-flat-button>Añadir al carrito</button>
    </div>
  </div>
</div>
