:host {
  height: 700px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 32px 92px;
}

.profile {
  &-card {
    background-color: white;
    height: auto;
  }
  &-btn {
    width: 100%;
  }
  &-icon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
    align-items: center;
  }
}
