<div class="footer">
  <div class="footer-row">
    <div class="footer-column">
      <h3>Tienda</h3>
      <p>Atención al cliente: +52 24617621084</p>
      <p>Email: getfitgdl&#64;gmail.com</p>
      <p>Mayoreo: ver aqui</p>
    </div>
    <div class="footer-column">
      <h3>Ayuda</h3>
      <p>Contactanos</p>
      <p>Nosotros</p>
      <p>Política de envios</p>
      <p>Preguntas frecuentes</p>
    </div>
    <div class="footer-column">
      <h3>Legal</h3>
      <p>Avisos Legales</p>
      <p>Politica de privacidad</p>
      <p>Términos y condiciones</p>
      <p>Política de cookies</p>
    </div>
  </div>
  <div class="footer-row">
    redes
    <div class="separator"></div>
  </div>
</div>
