<mat-sidenav-container class="sidenav">
  <mat-sidenav
    class="sidenav-container"
    #drawer
    mode="side"
    [fixedInViewport]="false"
    opened="true"
  >
    <mat-nav-list class="menu">
      <a mat-list-item>Inicio</a>
      <a mat-list-item>Ver Todo</a>
      <a mat-list-item>Cátalogo</a>
      <a mat-list-item>Productos</a>
      <a mat-list-item>Contacto</a>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <a>Perfil</a>
          </mat-expansion-panel-header>
          <mat-list>
            <a mat-list-item class="p-0" (click)="onRedirect('account/profile')">Cuenta</a>
            <a mat-list-item class="p-0">Direcciones</a>
          </mat-list>

        </mat-expansion-panel>
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="sidenav-toolbar">
      <mat-toolbar-row class="sidenav-toolbar__row">
        <div class="sidenav-icons">
          <mat-icon (click)="drawer.toggle()">menu</mat-icon>
          <div class="sidenav-logo">
            <div class="sidenav-logo__img"></div>
          </div>
        </div>
        <div class="sidenav-icons">
          <mat-icon>search</mat-icon>
          <mat-icon>person_outline</mat-icon>
          <mat-icon>shopping_bag_outline</mat-icon>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="pages">
      <router-outlet />
      <div class="separator"></div>
      <app-footer />
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
