/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.separator {
  width: 100%;
  height: 1px;
  background-color: #e5e5e6;
}

.card {
  border: solid 1px #e5e5e6;
  border-radius: 4px;
  padding: 16px;
  height: auto;
  width: auto;
  display: block;
  box-shadow: 0px 2px 12px -2px #E5E5E5;
}

.btn {
  width: 160px;
}

.profile {
  width: 100%;

  &-title {
    color: #202202 !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    margin: 12px 0 !important;
    display: block !important;
  }

  &-cards {
    padding: 12px 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  &-card {
    width: 255px;
    height: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    &__footer {
      margin-top: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between
    }
  }

  &-actions {
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    gap: 6px;
  }

  &-address {
    width: 255px;
    height: 255px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &-form-control {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px 0;
  }

  &-input {
    display: flex;
    flex-direction: column;
    width: 270px;
  }

  &-label {
    color: #202202;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    margin-bottom: 2px;

    &-center {
      text-align: center;
    }
  }

  &-icon {
    width: 24px;
    height: 24px;
  }
}
